:root { 
--gray_50_01:#fcfcfc; 
--black_900_3d:#0000003d; 
--blue_gray_100_01:#d0d0d0; 
--gray_800_00:#422a3c00; 
--gray_50:#f8f8f8; 
--black_900_01:#160812; 
--black_900:#000000; 
--gray_800_d8:#422a3cd8; 
--gray_200_01:#eff0ef; 
--lime_100_7f:#f7e5c17f; 
--blue_gray_50_38:#ebf3f538; 
--pink_100:#ecbfd3; 
--black_900_05:#00000005; 
--gray_700:#555555; 
--gray_500:#ba7894; 
--blue_gray_100:#d3d3d3; 
--gray_800:#422a3c; 
--gray_900:#141414; 
--blue_gray_500:#667085; 
--gray_900_01:#241520; 
--gray_800_cc:#422a3ccc; 
--gray_200:#ebebe9; 
--gray_300:#e0e0de; 
--lime_100:#f7e5c1; 
--blue_gray_50_7f:#ebf3f57f; 
--orange_50:#fbf2e0; 
--gray_900_1e:#442e191e; 
--white_A700_67:#ffffff67; 
--white_A700_01:#fdfdfd; 
--light_green_50:#ecfff0; 
--gray_800_4f:#422a3c4f; 
--black_900_19:#00000019; 
--cyan_900:#004760; 
--white_A700:#ffffff; 
--gray_800_6c:#422a3c6c; 
}